# Ignore dataset files
data/*.csv

# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
logs/*.log

# Ignore system files
.DS_Store
# MLflow
mlruns/

# Models (optional - if large)
models/

# DVC cache (important)
.dvc/cache/

# Environment
.env